// Your custom styles

/* 'Adminbar bottom
---------------------------------------------------------------------------- */
@import "colors";

body.admin-bar {
	margin-top: -28px;
	padding-bottom: 28px;
}
#wpadminbar {
	top: auto !important;
	bottom: 0;
}
#wpadminbar .quicklinks>ul>li {
	position:relative;
}
#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
	bottom:28px;
}
#contact-header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

//link text white
a.text-right.mx-4.d-none.d-sm-block{
    color: $maincolor!important;
  }
a {
    color: #fff!important;
}

//Menu button hovercolor
  .brandson-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active, 
  .brandson-skin .navbar .navbar-nav .nav-item .dropdown-menu a:focus, 
  .brandson-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
      background-color: $maincolor !important;
  }

//primary buttoncolor

.btn-main {
    background-color: $maincolor!important;
}
.bg-danger {
    background-color: $maincolor!important;
}
.bg-gray {
    background-color: $maingray!important; 
}
.btn-main:hover {
    color: black;
}

.info-color {
    background-color: $maincolor !important;
}


//Navbar text color 
a.nav-link.waves-effect.waves-light {
    color: $maingray!important;
}

.brandson-skin .navbar {
    background-color: #fff!important;
}
.brandson-skin .top-nav-collapse {
    background-color: #fff!important;
}

//PAGE FOOTER
.page-footer {
    background-color: #757575!important;
}

//Font-size
h1 {
    text-shadow: 0 2px 2px rgba(0,0,0,0.45);
    font-weight: 600!important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300; }
    
  .h1-responsive {
    font-size: 300%; }
  
  .h2-responsive, .section-blog-fw h2 {
    font-size: 145%; }
  
  .h3-responsive {
    font-size: 135%; }
  
  .h4-responsive {
    font-size: 135%; }
  
  .h5-responsive {
    font-size: 135%; }
  
  @media (min-width: 576px) {
    .h1-responsive {
      font-size: 170%; }
    .h2-responsive, .section-blog-fw h2 {
      font-size: 140%; }
    .h3-responsive {
      font-size: 125%; }
    .h4-responsive {
      font-size: 125%; }
    .h5-responsive {
      font-size: 125%; } }
  
  @media (min-width: 768px) {
    .h1-responsive {
      font-size: 200%; }
    .h2-responsive, .section-blog-fw h2 {
      font-size: 170%; }
    .h3-responsive {
      font-size: 140%; }
    .h4-responsive {
      font-size: 125%; }
    .h5-responsive {
      font-size: 125%; } }
  
  @media (min-width: 992px) {
    .h1-responsive {
      font-size: 200%; }
    .h2-responsive, .section-blog-fw h2 {
      font-size: 170%; }
    .h3-responsive {
      font-size: 140%; }
    .h4-responsive {
      font-size: 125%; }
    .h5-responsive {
      font-size: 125%; } }
  
  @media (min-width: 1200px) {
    .h1-responsive {
      font-size: 400%; }
    .h2-responsive, .section-blog-fw h2 {
      font-size: 200%; }
    .h3-responsive {
      font-size: 170%; }
    .h4-responsive {
      font-size: 140%; }
    .h5-responsive {
      font-size: 125%; } }




// Breadcrumb styling
.breadcrumb {
    a {
        color: #b92228!important;
    }
}

//Cards in mobile
.card{
       
    @media (max-width: 1200px) {
      width: 100%!important;
  }
}

//Changing navbar-toggler
.navbar.navbar-dark .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=b92228');
}